body{
  margin:0;
  font-family:Segoe UI;
  background:#0f172a;
  color:white;
  text-align:center;
}

header{
  background:#111827;
  padding:15px;
  font-size:22px;
  font-weight:bold;
}

#startScreen{
  margin-top:50px;
}

#timer{
  color:#facc15;
  font-weight:bold;
  margin:15px;
}

table{
  border-collapse:collapse;
  margin:auto;
  background:white;
}

td{
  width:36px;
  height:36px;
  border:1px solid #000;
  position:relative;
}

.white{
  background:white;
}

.black{
  background:black;
}

.clue{
  background:#d1d5db;
  position:relative;
}

.clue::after{
  content:"";
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:linear-gradient(
    45deg,
    transparent 49%,
    black 50%,
    black 51%,
    transparent 52%
  );
}

.clue span{
  position:absolute;
  font-size:10px;
  font-weight:bold;
}

.across{
  top:2px;
  right:4px;
}

.down{
  bottom:2px;
  left:4px;
}

input{
  width:100%;
  height:100%;
  border:none;
  text-align:center;
  font-size:16px;
}

/* NUMBER PAD */

#numberPad{
  position:fixed;
  bottom:20px;
  right:20px;
  width:180px;
  background:white;
  color:black;
  border-radius:8px;
  box-shadow:0 5px 15px rgba(0,0,0,0.5);
  transform-origin: bottom right;
}

.pad-header{
  background:#111827;
  color:white;
  padding:6px;
  cursor:move;
  display:flex;
  justify-content:space-between;
}

.pad-body{
  padding:10px;
}

.pad-grid{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:5px;
}

button{
  padding:6px;
  margin:5px;
}
